*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    line-height: 22px;
    color: black;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
    font-size: inherit;
}
a {
    text-decoration: none;
}
ul,
li {
    list-style: none;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.-container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0 120px;
}



.header {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}





.main {
    flex: 1 1 auto;
}
